:root {
    --nuwmcolor: #256589;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img_src/background image.png');
    background-size: cover;
}

.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 30px;
}



